---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: true

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present
  become: true

- name: Set timezone
  timezone:
    name: "{{ common_timezone }}"
  become: true

- name: Disable swap
  command: swapoff -a
  become: true
  changed_when: false

- name: Remove swap from fstab
  lineinfile:
    path: /etc/fstab
    regexp: '\sswap\s'
    state: absent
  become: true
